.footer__copyright {
  color: white;
  align-self: center;
  color: rgb(142, 142, 142);
  font-size: 12px;
}

@media screen and (max-width: 1500px) {
  .footer__copyright {
    font-size: 10px;
  }
}