.footer__part {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1000px) {
  .footer__part {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .footer__part {
    align-items: center;
  }
}