.footer__link {
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: rgb(142, 142, 142);
  font-size: 14px;
  text-transform: lowercase;
  word-break: break-all;
}

.footer__link:hover {
  color: #bd7b00;
}

@media screen and (max-width: 1500px) {
  .footer__link {
    font-size: 12px;
  }
}