.about__title {
  font-size: 74px;
  line-height: 1.55;
  font-weight: 600;
  color: #ffae00;
  grid-area: title;
  margin: 0;
  justify-self: center;
  padding: 0;
}

@media screen and (max-width: 1300px) {
  .about__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 900px) {
  .about__title {
    font-size: 42px;
  }
}

@media screen and (max-width: 800px) {
  .about__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 600px) {
  .about__title {
    font-size: 42px;
  }
}