.footer__contact_main {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.footer__contact_main:hover {
  color: #bd7b00;
}



@media screen and (max-width: 1500px) {
  .footer__contact_main {
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  .footer__contact_main {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .footer__contact_main {
    margin: 0;
  }
}