.projects__title {
  font-size: 52px;
  line-height: 1.23;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .projects__title {
    font-size: 48px;
  }
}

@media screen and (max-width: 1000px) {
  .projects__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 700px) {
  .projects__title {
    font-size: 32px;
  }
}