.contacts__map {
  width: 900px;
  height: 600px;
}

@media screen and (max-width: 950px) {
  .contacts__map {
    width: 850px;
  }
}

@media screen and (max-width: 900px) {
  .contacts__map {
    width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .contacts__map {
    width: 800px;
  }
}

@media screen and (max-width: 800px) {
  .contacts__map {
    width: 750px;
    height: 500px;
  }
}

@media screen and (max-width: 750px) {
  .contacts__map {
    width: 700px;
  }
}

@media screen and (max-width: 700px) {
  .contacts__map {
    width: 650px;
  }
}

@media screen and (max-width: 650px) {
  .contacts__map {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .contacts__map {
    width: 550px;
  }
}

@media screen and (max-width: 550px) {
  .contacts__map {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .contacts__map {
    width: 450px;
    height: 500px;
  }
}

@media screen and (max-width: 450px) {
  .contacts__map {
    width: 400px;
  }
}

@media screen and (max-width: 400px) {
  .contacts__map {
    width: 350px;
    height: 300px;
  }
}

@media screen and (max-width: 350px) {
  .contacts__map {
    width: 300px;
  }
}

