.type__item {
  color: #bd7b00;
  font-size: 22px;
  line-height: 1.55;
  font-weight: 600;
  text-align: center;
  width: 300px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 50px;
  margin: 0 auto;
}

.type__item:hover {
  text-decoration: underline;
}

.type__item[aria-current="page"] {
  text-decoration: underline;
}